<%= form_for @question do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :answer %>
    <%= f.text_area :answer %>
  </p>
  <%= f.submit %>
<%- end %>
